* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    background: url(../image/Fondos_\ -\ 3.jfif) !important;
   
}

h1{
    text-align: center;
    margin-top: 30px !important;
    color: rgb(255, 255, 255)!important;
    font-weight: bold;
}

#conteudo{
    background: linear-gradient(WHITE, rgb(255, 255, 255), black);
    width: 500px;
    height: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}



input{
    width: 80%;
    display: block;
    padding: 10px;
    margin: 20px auto !important;
    margin-top: 1px !important;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.368);
    font-weight: bold;
    font-size: 18px !important;
}


input:focus, label:focus{
    outline: none !important;
}

label {
    font-size: 25px !important;
    text-align: center !important;
    margin-top: 15px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 220px !important;
    color: rgba(1, 1, 1, 0.858);
}



button{
    margin-top: 50px !important;
    background: rgba(3, 3, 3, 0.345);
    color: rgb(0, 0, 0) ;
    width: 80%;
    font-weight: bold;
    display: block;
    font-size: 20px !important;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 10px;
    border-radius: 10px !important;
}

button:hover{
    background: rgb(20, 18, 18);
    color: red;
}

#message{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
